@import "tailwindcss";

@theme {
  --color-primary: #6147e5;
  --color-overlay: #e5e7eb;
  --color-lightgray: #f3f4f6;
}

@font-face {
  font-family: "ibm-regular";
  src: url("/fonts/IBM-Regular.ttf");
}

@font-face {
  font-family: "ibm-medium";
  src: url("/fonts/IBM-Medium.ttf");
}

@font-face {
  font-family: "ibm-bold";
  src: url("/fonts/IBM-Bold.ttf");
}

.font-ibm {
  font-family: "ibm-regular";
}

.font-ibm-medium {
  font-family: "ibm-medium";
}

.font-ibm-bold {
  font-family: "ibm-bold";
}

* {
  user-select: none;
}
